/* CSS Base - CSS settings for all landingpages */

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    
    font-family: 'Roboto', sans-serif;
}

h1 {
    border-bottom: 4px double #ccc;
}





